<mat-toolbar>
    <mat-toolbar-row id="appTitle" class="medium-tall">
            <span 
                class="gradient-text"
                id="title"
            >
                Unstable Tracker
            </span>
            <span 
                class="gradient-text"
                id="subtitle"
            >
                <span
                    id="minorWord"
                >
                    for 
                </span>
                Unstable Unicorns
            </span>
    </mat-toolbar-row>
</mat-toolbar>
<br>
<mat-divider></mat-divider>