<div
    id="playGameContainer"
    class="flex-container"   
>
    <h2>
        Play Game
    </h2>
    
    <fieldset>    
        <legend>Was Ginormous Unicorn Played?</legend>
        <mat-radio-group 
            aria-label="Select an option"
            [(ngModel)]="ginormousPlayed"
        >
            <mat-radio-button value="Played by me">Played by me</mat-radio-button>
            <mat-radio-button value="Played by oppenent">Played by opponent</mat-radio-button>
            <mat-radio-button value="No">No</mat-radio-button>
        </mat-radio-group>
        <mat-divider></mat-divider>
            <mat-checkbox
                [(ngModel)]="ginormousWonGame"
            >
                Game winning move?
            </mat-checkbox>
    </fieldset>

    <fieldset>
        <legend>Game Outcome</legend>
        <mat-radio-group
            aria-label="Select an option"
            [(ngModel)]="gameOutcome"
        >
            <mat-radio-button value="I won">I won</mat-radio-button>
            <mat-radio-button value="I lost">I lost</mat-radio-button>
            <mat-radio-button value="No winner">
                No winner
                <span 
                    class="material-icons-outlined info-icon pointer" 
                    title="The game rules allow for a rare edge case where no one wins the game if a draw persists following tie breaking steps. You will likely never experience this, but this is here should you need it."
                >
                info
                </span>
            </mat-radio-button>
        </mat-radio-group>
    </fieldset>
    
    <button 
        mat-raised-button 
        color="warn"
        (click)="finishGame()"
        id="finish-game-button"
    >
        Finish Game
    </button>
</div>
