
h2 {
    text-align: center;
    margin: 10px auto;
}

legend {
    border:  1px solid #ff4081;
    border-radius: 5px;
    background-color: #ff4081;
    color: white;
    font-weight: bold;
    padding: 15px;
    margin-top: 10px;
}

fieldset {
    border:  1px solid #ff4081;
    border-radius: 5px;
    padding: 25px;
}

.mat-radio-group {
    display: flex;
    flex-direction: column;
}

.mat-radio-button {
    padding-left: 30px;
}

.mat-divider {
    border-top-style: dashed;
    border-width: 2px;
    margin: 10px 0px 5px;
    width: auto;
}

.mat-checkbox {
    padding-left: 33px;
}

#noWinText {
    font-size: x-small;
}

.info-icon {
    font-size:small;
}

.pointer {
    cursor: default;
}

#finish-game-button {
    margin: 20px auto 10px;
    display: block;
}