<div 
    id="setupGameContainer"
    class="grid-container"    
>

    <h2
        class="grid-item item1"
    >
        Setup Game
    </h2>

    <h3
        class="grid-item item2"
    >
        Choose from 2 to 8 players 
    </h3>

    <button 
        class="btn btn-default grid-item item3"
        mat-mini-fab 
        color="accent" 
        aria-label="Minus button to decrease player count"
        (click)="decreasePlayerCount()"
    >
        <mat-icon>remove</mat-icon>
    </button>

    <p 
        id="playerCountOutput"
        class="grid-item item4"
    >
        {{ playerCount }} players
    </p>

    <button 
        class="btn btn-default grid-item item5"
        mat-mini-fab 
        color="accent" 
        aria-label="Plus button to increase player count"
        (click)="increasePlayerCount()"
    >
        <mat-icon>add</mat-icon>
    </button>
    
    <button 
        class="grid-item item6"
        mat-raised-button 
        color="primary"
        routerLink="/play"
    >
        Begin Game
    </button>

</div>