#setupGameContainer {
    max-width: 300px;
    border: 5px solid black;
    border-radius: 0px 0px 15px 15px;
    padding: 10px;
    margin: auto;
}

.grid-container {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    justify-items: center;
    align-items: center;
}

.item1 {
    grid-column: 1 / span 3;
}
.item2 {
    grid-column: 1 / span 3;
}
.item3 {
    grid-column: 1 / span 1;
}
.item4 {
    grid-column: 2 / span 1;
}
.item5 {
    grid-column: 3 / span 1;
}
.item6 {
    grid-column: 1 / span 3;
}

