<div
    id="homeContainer"
>
    <h2>
        Home
    </h2>
    
    <button 
        mat-raised-button 
        color="primary"
        routerLink="/setup"
    >
        Play Game
    </button>

    <br><br>

    <h4
        class="results"
    >
        Games Played: {{ gameSvc.gameResults.length }}
    </h4>

    <h4
        class="results"
    >
        Games I Won: {{ myWins }}
    </h4>

    <br>

    <div style="display: block">
        <canvas baseChart
          [data]="doughnutChartData"
  
          [type]="doughnutChartType">
        </canvas>
      </div>

    <br><br>

    <div>
        <canvas id="myChart">

        </canvas>
    </div> 
      
</div>
