<div
    id="homeContainer"
>
    <h2>
        Home
    </h2>
    
    <button 
        mat-raised-button 
        color="primary"
        routerLink="/setup"
    >
        Play Game
    </button>

    <br><br>

    <h4
        class="results"
    >
        Games Played: {{ gameSvc.gameResults.length }}
    </h4>

    <h4
        class="results"
    >
        Games Won: {{ myWins }}
    </h4>

    <h4
        class="results"
    >
        Win Ratio: {{ calculateRatio }}
    </h4>

    <br>

    <h4
        class="results"
    >
        Game Outcomes
    </h4>
    
    <div 
        class="charts"
    >
        <canvas baseChart
          [data]="doughnutChartData"
  
          [type]="doughnutChartType">
        </canvas>
      </div>

    <br><br>

    <h4
        class="results"
    >
        Games Per Player Count
    </h4>

    <div 
        class="charts"
    >
        <canvas baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [type]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"
        >
        </canvas>
    </div>
      
</div>
